@model CertificatesManager.Models.Request

@{
    ViewBag.Title = "Reject";
}

<h2>Delete</h2>

<h3>Are you sure you want to reject this?</h3>
<div>
    <h4>Request</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EOSRequestorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EOSRequestorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CertificateId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CertificateId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
