@model CertificatesManager.Models.Request

@{
    ViewBag.Title = "Details";
}

<h2>Verify</h2>

<div>
    <div id="certId" data-certid="@Model.CertificateId"></div>
    <h4>Request</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EOSRequestorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EOSRequestorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CertificateId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CertificateId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "verifyForm"}))
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Verify" class="btn btn-default" /> |
        @Html.ActionLink("Back to List", "Index")
    </div>
}
@section scripts{
    <script src="~/Scripts/eos.js"></script>
    <script src="~/Scripts/eosjs-ecc.js"></script>
    <script src="~/Scripts/app/request_verify.js"></script>
}